<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooked Chronicles</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navbar -->
    {{> fragments/navbar }}

    <!-- Past Cookbook Header -->
    <header class="cookbook-header">
        <h1>Chronicles to Cook</h1>
    </header>

    <!-- Past Recipes Grid -->
    <div class="cookbook-grid">
        <div class="recipe-grid">
            {{#recipes}}
                {{> fragments/recipe_card}}
            {{/recipes}}
        </div>

        {{^recipes}}
            <div class="no-recipes">
                <p>No recipes bookmarked as cooked yet. Explore and try some recipes!</p>
                <a href="/" class="explore-link">Explore Recipes</a>
            </div>
        {{/recipes}}
    </div>

    <!-- Error Message -->
    {{#errorMessage}}
        <div class="error-message">
            <p>{{errorMessage}}</p>
        </div>
    {{/errorMessage}}


</body>
</html>

