<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miso Hungry</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> fragments/navbar}}

    <div class="recipe-grid">
        {{#recipes}}
            {{> fragments/recipe_card}}
        {{/recipes}}
    </div>

    {{^recipes}}
        <div class="no-recipes">
            <p>No recipes created yet. Explore recipes!</p>
            <a href="/" class="explore-link">Explore Recipes</a>
        </div>
    {{/recipes}}
</body>
</html>
