<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{recipe.recipeName}} - Miso Hungry</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> fragments/navbar}}
    
    <div class="container">
        <div class="recipe-detail">
            <h1 class="recipe-title">{{recipe.recipeName}}</h1>
            
            <div class="recipe-meta">
                <span>Prep Time: {{recipe.prepTime}} min</span>
                <span>Cook Time: {{recipe.cookTime}} min</span>
                <span>Servings: {{recipe.servings}}</span>
                <span>Level: {{recipe.cookingLevel}}</span>
            </div>
            
            <div class="recipe-description">
                <h2>Description</h2>
                <p>{{recipe.description}}</p>
            </div>
            
            <div class="recipe-ingredients">
                <h2>Ingredients</h2>
                <ul>
                    {{#recipe.ingredients}}
                    <li>{{.}}</li>
                    {{/recipe.ingredients}}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>