<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Recipes - Miso Hungry</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> fragments/navbar}}
    
    <div class="container">
        <h1>All Recipes</h1>
        <div class="recipe-grid">
            {{#recipes}}
            <a href="/recipe/{{recipeId}}" class="recipe-link">
                <div class="recipe-card">
                    <div class="recipe-details">
                        <h3 class="recipe-title">{{recipeName}}</h3>
                        <p class="recipe-meta">
                            <span>{{cookingLevel}}</span> 
                        </p>
                    </div>
                </div>
            </a>
            {{/recipes}}
        </div>
    </div>
</body>
</html>